@import "@fontsource/anton";
/* Supports weights 100-900 */
@import "@fontsource-variable/montserrat/wght.css";
@import "@fontsource/luckiest-guy";
/* Supports weights 200-700 */
@import "@fontsource-variable/oswald/wght.css";
@import "@fontsource/bebas-neue";
@import "@fontsource/fredericka-the-great";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-montserrat: "Montserrat Variable", sans-serif;
  --font-luckiest-guy: "Luckiest Guy", system-ui;
  --font-oswald: "Oswald Variable", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-fredericka-the-great: "Fredericka the Great", system-ui;
}

@utility text-trim-both {
  text-box-trim: trim-both;
}
@utility text-edge-cap {
  text-box-edge: cap alphabetic;
}

:root {
  --background: #ffffff;
  --text-color: var(--color-slate-800);
  --text-color-muted: var(--color-slate-500);
  --placeholder-color: var(--color-slate-400);
}

.dark {
  --background: #0a0a0a;
  --ribbon: var(--gray-5);
  --text-color: var(--color-slate-100);
  --text-color-muted: var(--color-slate-300);
  --placeholder-color: var(--color-slate-500);
  --text-color-fixed: var(--slate-7);
}
