@import "@fontsource/anton";
/* Supports weights 100-900 */
@import "@fontsource-variable/montserrat/wght.css";
@import "@fontsource/luckiest-guy";
/* Supports weights 200-700 */
@import "@fontsource-variable/oswald/wght.css";
@import "@fontsource/bebas-neue";
@import "@fontsource/fredericka-the-great";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-montserrat: "Montserrat Variable", sans-serif;
  --font-luckiest-guy: "Luckiest Guy", system-ui;
  --font-oswald: "Oswald Variable", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-fredericka-the-great: "Fredericka the Great", system-ui;
}

:root {
  --background: white;
  --ribbon: var(--gray-8);
  --text-color: var(--slate-8);
  --text-color-fixed: var(--slate-7);
  --border: 1px solid var(--slate-5);
  --border-radius: 10px;
  --icon-color: var(--gray-4);
}

.dark {
  --background: #0a0a0a;
  --ribbon: var(--gray-5);
  --text-color: var(--slate-2);
  --text-color-fixed: var(--slate-7);
}
