.nav {
  font-family: var(--font-oswald);
  font-size: 1.1rem;
  border-radius: 10px 10px 0 10px;
  background-color: var(--slate-3);
  box-shadow: 2px 2px 5px var(--slate-5);
  margin: 5px 5px 10px 5px;
  padding: 12px 15px;
  overflow-y: auto;
  height: 100%;
}

.navTitle {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
  text-transform: upperCase;
}

.navTitle:not(:first-child) {
  display: block;
}

.nav a {
  display: block;
}

.nav a:global(.active) {
  color: blue;
}
