.button {
  all: unset;
  position: fixed;
  right: max(10px, calc((100vw - 1100px) / 2 + 10px));
  bottom: 50px;
  z-index: 999;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 11px;
  border: 2px solid lightgray;
  border-right: none;
  border-radius: 10% 0% 0% 10%;
  background-color: var(--gray-1);
  cursor: pointer;

  /* hidden by default */
  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateX(45px);
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
