.input {
  display: none;
}

.box {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid var(--slate-4);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1px
}

.box svg {
  opacity: 0;
}

.input:checked + .box {
  background: var(--green-7);
}

.input:checked + .box svg {
  opacity: 1;
  color: white;
}