.wrapper {
  display: flex;
  gap: 1rem;
}

.top {
  flex-direction: column;
}

.right {
  flex-direction: row-reverse;
}

.bottom {
  flex-direction: column-reverse;
}

.left {
  flex-direction: row;
}
