@import "./styles/colors.css";
@import "./styles/reset.css";
@import "./styles/variables.css";

@import "tailwindcss";

::-webkit-scrollbar {
  width: 0.6vw;
  height: 0.6vw;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-4);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-montserrat);
  background: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.app {
  /* min-height WRONG!!! It has to be HEIGHT ONLY*/
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;

  max-width: 1100px;

  /* IMPORTANT */
  min-height: 0; 

  margin: 0 auto;
  padding: 5px;
  
}

.app-content {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.app-scrollArea {
  flex: 1;

  overflow-y: auto;

  min-height: 0;
}
