.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ratio-16-9 {
  width: 50%;
}

@media (max-width: 600px) {
  .ratio-16-9 {
    width: 100%;
  }
}