.inlineItem {
  display: inline-flex;
  align-items: center;
}

.flagIcon {
  width: 20px;
  height: 19px;
  transform: translateY(4px);
  margin-right: 7px;
}

.iconPosition {
  transform: translateY(4px);
  margin-inline: 2px;
}

.iconPositionAudio {
  transform: translate(-2px, 2px);
}

.extraIconPosition {
  margin-right: 4px;
}
