.frame {
  padding: 2px 8px 2px 6px;
  margin-bottom: 2rem;
  font-family: var(--font-bebas-neuerad);
  background-color: var(--gray-3);
  color: var(--text-color-fixed);
  border: 7px solid var(--gray-4);
  border-radius: var(--border-radius);
}